body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

p {
  font-size: large;
  font-weight: 500;
}

#main-pg {
  background-image: url("https://wallpaperaccess.com/full/4933291.jpg");
  background-size: cover;
  height: 100vh;
  margin-top: -70px;
  font-size:50px;
  background-repeat:no-repeat;
  padding: 0;
  margin: 0;
}
